
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 200px ;
}
.btn-primary{
background-color:#FD6E0A;
color: white;
font-weight: bold;
padding:18px ;
border-radius: 5px;
font-size: 20px;
border:none;
}
.nav-title{
font-weight: 800;
font-size: 50px;

}
.text-primary{
color: #FD6E0A;
    
}
.dark-2{
    color: #474747;
}
nav ul li{

    list-style: none;
    margin:50px ;
}
nav ul{
display: flex;
margin-right: 50px;
align-items: center;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
 font-weight: bold;
font-size: 85px;
}
.banner-profile-pic{
   width: 580px; 
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px ;
}
.banner-content{
    max-width:580px ;
}
.header{
background-image:url(../images/developer.png),url(../images/header_bg.png) ;
background-repeat: no-repeat;
background-position:top left,bottom right ;
}
.section-title{
font-size:35px;
font-weight:bold ;
color:#181818 ;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.secondary-bg{

background-color: #FFF8F3;

}

.about{
border-radius:10px ;
padding:130px 150px ;
text-align: center;
margin-top: 130;
}
main{
max-width: 1140px;
margin: 0 auto;
}
main section{
margin-top: 130px;
margin-bottom: 130px;

}
.about-items{
    display: flex;
    justify-content: space-around;
    
}
.item-description{
    font-weight: 600px;
   
}

.fix{
    display: flex;
    justify-content: space-between;
    text-align: justify;
    size: 50px;
}
.text-center{
    text-align: center;
    justify-content: center;
}
.skills-container{
display: flex;
gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow:0px 6px 50px 0px rgba(0,0,0,0.06) ;
}
.resume-container{
display: flex;
gap: 24px;
}
.experience-sub-title{
    font-size: 20px;
    font-weight:600 ;
    margin-bottom: 20px;
}
.experience-description, .experience-sub-title{
    color: #757575;
}
.resume hr{
    margin: 30px 5px;
}
.resume-download-cv{
    margin: 50px;
}
/* footer style */
footer{
padding:130px 230px ;
display: flex;
gap: 100px;
}

.footer-column{
width: 50%;
}
footer input[type="text"] ,footer input[type="email"],footer textarea   {

    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;

}